@media (max-width: 768px) {
  .cabecera {
    align-items: center;
    flex-direction: column;
    max-height: min-content;
  }

  .cabecera button {
    flex-direction: row;
    margin: 5px 0;
    width: 90px;
    height: 25px;
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .cabecera {
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 3px 8px;
    background-color: $primary-color;
    max-height: 200px;
  }
  .imagenheader {
    max-height: 20px;
  }

  .nombre {
    max-height: 30px;
    font-size: 0, 7em;
  }
}
